* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Century Gothic", "Arial", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.text-justify {
  text-align: justify;
}

h2 {
  line-height: 38px;
  color: #606060;
  font-family: "Century Gothic";
}

p {
  font-size: 12px;
  line-height: 23px;
  color: #808080;
}

h2, p {
  font-weight: 300;
}

.header {
  position: fixed;
  background: rgba(0, 0, 0, 0.884);
  z-index: 100;
  width: 100%;
}
.header__container {
  height: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}
.header__logo {
  font-size: 45px;
  font-weight: 300;
  color: #ffffff;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.7));
}
@media (max-width: 768px) {
  .header__logo {
    font-size: 28px;
  }
}
.header__nav {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 10000;
    padding: 70px 20px;
  }
}
.header__nav--open {
  z-index: 1001;
}
@media (max-width: 768px) {
  .header__nav--open {
    display: block;
    pointer-events: auto;
  }
}
.header__nav-close {
  display: none;
}
@media (max-width: 768px) {
  .header__nav-close {
    position: absolute;
    top: 70px;
    right: 60px;
    background: none;
    border: none;
    color: #e0e0e0;
    font-size: 50px;
    z-index: 1002;
    display: flex;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
}
.header__nav .header__list {
  display: flex;
  justify-content: end;
  gap: 30px;
  list-style: none;
}
@media (max-width: 768px) {
  .header__nav .header__list {
    flex-direction: column;
    padding-left: 40px;
    font-size: 20px;
  }
}
.header__nav .header__list .header__item {
  list-style: none;
  margin: 0;
}
@media (max-width: 768px) {
  .header__nav .header__list .header__item {
    margin: 10px 0;
  }
}
.header__nav .header__list .header__item .header__link {
  color: #949da6;
  font-size: 15px;
  transition: all 0.2s ease;
  text-decoration: none;
}
.header__nav .header__list .header__item .header__link:hover, .header__nav .header__list .header__item .header__link:active {
  color: #a1e0ff;
}
@media (max-width: 768px) {
  .header__nav .header__list .header__item .header__link {
    font-size: 20px;
  }
}
.header__menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #e0e0e0;
}
@media (max-width: 768px) {
  .header__menu-toggle {
    display: block;
  }
}

.footer {
  background-color: rgba(12, 15, 18, 0.9411764706);
}
.footer__container {
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: start;
  gap: 20px;
  padding: 30px 0 105px 0;
}
@media (max-width: 992px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .footer__container {
    margin: 0px 30px;
  }
}
@media (max-width: 576px) {
  .footer__container {
    grid-template-columns: 1fr;
    margin: 0px 10px;
  }
}
.footer__title {
  font-size: 16px;
  color: #989898;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  .footer__title {
    margin: 0;
    font-size: 20px;
    border-bottom: none;
    padding-bottom: 0;
  }
}
.footer__text {
  font-size: 14px;
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
}
.footer__link {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #989898;
}
.footer__link:hover, .footer__link:active, .footer__link-email:active, .footer__link-email:hover {
  color: #a1e0ff;
}
.footer__wrapper {
  margin-bottom: 10px;
  padding: 5px 0;
  color: #989898;
}
.footer__toggle {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}
.footer__toggle.active .footer__toggle-icon {
  transform: rotate(180deg);
}
@media (max-width: 576px) {
  .footer__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
  }
}
.footer__toggle-icon {
  display: none;
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  transition: transform 0.3s ease;
}
@media (max-width: 576px) {
  .footer__toggle-icon {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.3s ease;
  }
}
.footer__content {
  display: block;
}
.footer__content.active {
  max-height: 500px;
}
@media (max-width: 576px) {
  .footer__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.footer__copyright {
  height: 75px;
  background-color: black;
  text-align: start;
  padding-top: 20px;
  border-top: 1px solid #aaa;
  color: #808080;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .container {
    margin: 0 50px;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 30px;
  }
}
@media (max-width: 576px) {
  .container {
    margin: 0 10px;
  }
}

.home-section {
  background: linear-gradient(0deg, #0d4c6c, #25749c);
  overflow: auto;
  padding-top: 100px;
}
.home-section .home__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 67px;
}
@media (max-width: 992px) {
  .home-section .home__container {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
  }
}
.home-section .home__left {
  width: 372px;
  margin: 50px 0 78px 0;
}
@media (max-width: 992px) {
  .home-section .home__left {
    width: auto;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
.home-section .home__title {
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 38px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Arial";
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.75));
}
@media (max-width: 992px) {
  .home-section .home__title {
    font-size: 37px;
  }
}
@media (max-width: 768px) {
  .home-section .home__title {
    font-size: 32px;
  }
}
.home-section .home__text {
  font-size: 12px;
  color: #ffffff;
  line-height: 23px;
  font-family: "Arial", sans-serif;
  margin-top: 35px;
}
.home-section .home__pagination {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  overflow: visible;
  padding: 50px 0;
}
@media (max-width: 992px) {
  .home-section .home__pagination {
    padding: 30px 0;
  }
}

.about__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 39px;
  border-bottom: 1px solid #777;
  padding-top: 35px;
}
@media (max-width: 992px) {
  .about__container {
    grid-template-columns: 1fr;
  }
}
.about__container .about__paragraph {
  padding-bottom: 35px;
}
.about__container .about__title {
  font-size: 22px;
}
.about__container .about__texts_down {
  display: flex;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  justify-content: end;
}
.about__container .about__texts_up,
.about__container .about__texts_down {
  font-style: italic;
}

.blog__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 22px;
  padding: 40px 0;
}
@media (max-width: 992px) {
  .blog__images {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (max-width: 576px) {
  .blog__images {
    grid-template-columns: 1fr;
  }
}
.blog__images_image {
  padding: 20px 0;
  background-color: #e0e0e0;
  text-align: center;
  justify-content: center;
  color: #737373;
  line-height: 21px;
  font-size: 14px;
  filter: drop-shadow(0 0 0.5px #dddddd);
  border: 5px solid #ffffff;
  font-family: "Arial", sans-serif;
}
@media (max-width: 992px) {
  .blog__images_image {
    width: 75%;
  }
}

.blog__services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  padding-bottom: 68px;
}
@media (max-width: 576px) {
  .blog__services {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 22px;
    max-width: 100%;
  }
}

.blog__services-title {
  font-size: 16px;
}

.portfolio__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid #777;
  min-height: 95px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .portfolio__container {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .portfolio__container {
    padding-bottom: 20px;
    grid-template-columns: 1fr;
  }
}

.portfolio__title {
  font-size: 25px;
}

.portfolio__wrapper {
  display: flex;
  justify-content: end;
}

.portfolio__button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 240px;
  height: 61px;
  background-image: linear-gradient(0deg, #efefef 0%, #fcfcfc 100%);
  border: 1px solid gray;
  border-radius: 5px;
  transition: all 0.2s ease;
  box-shadow: inset 0 0 0.5px #dcdcdc;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
}
.portfolio__button:hover {
  background: #a1e0ff;
}
.portfolio__button .portfolio__text {
  font-size: 22px;
}
.portfolio__button .portfolio__text:hover {
  color: #fff;
}

.portfolio__arrow-right {
  padding-top: 10px;
  color: rgb(82, 80, 80);
}

.home-arrow {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: linear-gradient(0deg, #ffffff 0%, #d1d1d1 100%);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 50;
}
.home-arrow svg {
  stroke: #555;
  stroke-width: 2;
  fill: none;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
}
.home-arrow:hover, .home-arrow:active, .home-arrow:focus {
  background-image: linear-gradient(0deg, #ffffff 0%, #d1d1d1 100%);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  outline: none;
  box-shadow: none;
}

.home__slider {
  position: relative;
  width: 100%;
  overflow: visible;
  margin: 0 auto;
  z-index: 1;
}
.home__slider .slick-list {
  overflow: hidden;
}
.home__slider .slick-list.draggable {
  padding: 0;
}
.home__slider .slick-track {
  display: flex;
  transition: none;
}
.home__slider .home__slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 5px solid #e0e0e0;
}

.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-slide {
  transition: opacity 0.5s ease;
}
.slick-slide.slick-active {
  opacity: 1;
}

.slick-arrow.slick-disabled {
  opacity: 1;
  pointer-events: auto;
}
