 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300;400;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
            scroll-behavior: smooth;
        }
        body {
            color: #333;
            line-height: 1.6;
            background-color: #f5f5f5;
            max-width: auto;
        }
        header {
            background: linear-gradient(90deg, rgb(28, 24, 24), rgba(58, 57, 57, 0.951));
            font-family: 'Montserrat', sans-serif;
            padding: 0 130px 0 130px;
            z-index: 100;
        }
        .header__wrapper {
            min-height: 100px;
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: space-between;
            align-items: center;
        }
        .header__logo {
            font-size: 35px;
            font-weight: bold;
            color: #e0e0e0;
        }
        .header__nav {
            margin-bottom: 0;
        }
        ul {
            display: flex;
            justify-content: end;
            list-style: none;
        }
        li  {
            list-style: none;
        }
        .header__list {
            gap: 30px;
        }
        .header__link {
            color: #949da6;
            font-weight: bold;
            font-size: 12px;
            transition: all 0.2s ease;
            text-decoration: none;
        }
        a:hover,
        a:active {
            color: #3498db;
        }
        .header__menu-toggle {
            display: none;
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
            color: #e0e0e0;
        } 
        .header__nav-close {
            display: none;
        }
        .welcome-section {
            background: linear-gradient(135deg, rgba(35, 140, 214, 0.818), rgb(26, 36, 126));
            overflow: auto;
            padding: 0 130px 0 130px;
        }
        .welcome-section__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 68px;
            height: auto;
        }
        .welcome-section__wrapper_left {
            max-width: 100%;
            margin: 50px 0;
        }
        .welcome-section__title {
            font-size: 37px;
            color: #e0e0e0;
        }
        .welcome-section__paragraph {
            color: #e0e0e0;
            font-size: 16px;
            margin-top: 20px;
        }
        .welcome-section__pagination {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
        }
        .welcome-section__slider {
            position: relative;
            width: 460px;
            height: 250px;
            margin: 0 15px 0 15px;
        }
        .welcome-section__slide img {
            max-width: 460px;
            width: 100%;
            max-height: 250px;
            object-fit: cover;
            display: flex;
        }
        .welcome-section__slider .slick-list {
            overflow: hidden;
        }
        .slick-list draggable {
            padding: 0;
        }
        .welcome-section__slider .slick-track {
            display: flex;
        }
        .slick-next,
        .slick-prev {
            width: 30px;
            height: 30px;
        }
        .portfolio-section {
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            justify-content: space-between;
            min-height: 100px;
            border-bottom: 1px solid #777;
            margin: 0 130px 0 130px;
        }
        h2 {
            color: #777;
            font-family: 'Montserrat', sans-serif;
        }
        .portfolio-section__title {
            font-size: 25px;
        }
        .portfolio-section__wrapper {
            display: flex;
            justify-content: end;
        }
        .portfolio-section__button {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            min-width: 240px;
            min-height: 61px;
            border: 1px solid gray;
            border-radius: 10px;
            color: linear-gradient(90deg, gray, white);
            cursor: pointer;
            transition: all 0.2s ease;
        }
        .portfolio-section__button:hover,
        .portfolio-section__button:active {
            background: #3498db;
            color: #333;
        }
        .portfolio-section__arrow-right {
            margin-top: 10px;
            color: rgb(82, 80, 80);
        }
        .portfolio-section__wrap {
            font-size: 18px;
            color: #777;
        }
        .company-section {
            min-height: 274px;
            padding: 35px 0 35px 0;
            margin: 0 130px 0 130px;
            border-bottom: 1px solid #777;
        }
        .company-section__container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 39px;
        }
        .company-section__container-paragraphs_down {
            display: flex;
            justify-content: end;
            font-weight: bold;
            font-style: normal;
        }
        .images-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 40px 130px 40px 130px;
            gap: 30px;
        }
        .images-section__image {
            background-color: #e0e0e0;
            padding: 40px;
            text-align: center;
            color: #777;
            box-shadow: 
            0 0 0 4px #fff,
            0 0 0 6px #fff;
        }
        .services-section {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 22px;
            padding-bottom: 68px;
            margin: 0 130px 0 130px;
        }
        .footer {
            background-color: #0f151cf4;
        }
        .footer__container {
            width: auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: start;
            gap: 20px;
            padding: 40px 130px 100px 130px;
        }
        .footer__title {
            font-size: 18px;
            margin-bottom: 20px;
            border-bottom: 1px solid #aaa;
            padding-bottom: 10px;
        }
        .footer__paragraph {
            margin-bottom: 10px;
            border-bottom: 1px solid #aaa;
            padding: 10px 0;
        }
        .footer__wrapper {
            margin-bottom: 10px;
            padding: 5px 0;
        }
        .footer__link {
            text-decoration: none;
            transition: color 0.3s ease;
        }
        .footer__link:hover {
            color: #3498db;
        }
        .footer__title,
        .footer__link,
        .footer__wrapper,
        .footer__link-email,
        .footer__toggle-icon {
            color: #aaa;
        }
        .footer__toggle {
            display: block;
            width: 100%;
            text-align: left;
            background: none;
            border: none;
        }
        .footer__toggle-icon {
            display: none;
        }
        .footer__content {
            display: block;
        }
        .footer__copyright {
            min-height: 75px;
            background-color: black;
            text-align: start;
            padding: 20px 130px 0 130px;
            border-top: 1px solid #aaa;
            color: #aaa;
            font-size: 14px;
        }
        @media (min-width: 1440px) {
            .welcome-section__pagination,
            .welcome-section__slider,
            .welcome-section__slide img {
                max-width: 600px;
                max-height: 300px;
                width: 100%;
                height: 100%;
            }
        }
        @media (max-width: 1440px) {
            .welcome-section__pagination,
            .welcome-section__slider,
            .welcome-section__slide img {
                max-width: 560px;
                max-height: 300px;
                width: 100%;
                height: 100%;
            }
        }
        @media (max-width: 1200px) {
            .welcome-section__pagination,
            .welcome-section__slider,
            .welcome-section__slide img {
                max-width: 460px;
                max-height: 250px;
                width: 100%;
                height: 100%;
            }
            .welcome-section__wrapper_left {
                margin: 0;
            }
            .welcome-section {
                padding: 30px 130px 30px 130px;
            }
        }
        @media (max-width: 992px) {
            .footer__container,
            .portfolio-section,
            .company-section,
            .images-section,
            .services-section {
                margin: 0px 90px 0px 90px;
                padding: 30px 0 30px 0;
            }
            .welcome-section,
            .header {
                padding: 0 90px 0 90px;
            }
            .welcome-section__wrapper {
                grid-template-columns: 1fr;
                gap: 30px;
                padding: 30px 0 30px 0;
                justify-items: center;
                width: 100%;
            }
            .welcome-section__wrapper_left {
                margin: 0;
                width: 100%;
            }
            .welcome-section__pagination {
                display: flex;
                width: 100%;
                justify-content: center;
            }
            .welcome-section__pagination,
            .welcome-section__slider,
            .welcome-section__slide img {
                max-width: 560px;
                max-height: 300px;
                width: 100%;
                height: 100%;
            }
            .portfolio-section {
                gap: 20px;
            }
            .images-section {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }
            .footer__container {
                grid-template-columns: repeat(2, 1fr);
            }
            .footer__copyright {
                padding: 20px 90px 20px 90px;
            }
        }
        @media (max-width: 768px) {
            main {
                padding-top: 80px;
            }
            .header,
            .welcome-section {
                padding: 0 60px 0 60px;
            }
            .header {
                position: fixed;
                width: 100%;
                height: 80px;
            }
            .header__wrapper {
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                position: relative;
            }
            .header__logo {
                font-size: 28px;
            }
            .header__nav {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background: linear-gradient(90deg, rgb(28, 24, 24), rgba(58, 57, 57, 1));
                z-index: 10000;
                padding: 70px 20px;
            }
            .header__list {
                flex-direction: column;
                padding-left: 40px;
                font-size: 20px;
            }
            .header__item {
               margin: 10px 0;
            }
            .header__link {
                font-size: 20px;
            }
            .header__nav--open {
                display: block!important;
            }
            .header__nav-close {
                position: absolute;
                top: 70px;
                right: 60px;
                background: none;
                border: none;
                color: #e0e0e0;
                font-size: 50px;
                cursor: pointer;
                z-index: 1002;
                display: flex;

                border-radius: 50%;
                transition: all 0.3s ease;
            }
            .header__menu-toggle {
                display: block;
            }
            .header__nav--open {
                pointer-events: auto;
            }
            body.menu-open .welcome-section__arrow {
                pointer-events: none;
                opacity: 0;
            }
            .welcome-section__pagination {
                width: 100%;
            }
            .welcome-section__wrapper {
                grid-template-columns: 1fr;
                gap: 30px;
            }
            .welcome-section__pagination,
            .welcome-section__slider,
            .welcome-section__slide img {
                max-width: 460px;
                max-height: 300px;
                width: 100%;
                height: 100%;
            }
            .portfolio-section {
                grid-template-columns: 1fr;
                gap: 20px;
                margin: 0 60px 0 60px;
            }
            .portfolio-section__title {
                font-size: 26px;
            }
            .footer__container,
            .company-section,
            .images-section,
            .services-section {
                margin: 0px 60px 0px 60px;
                padding: 30px 0 30px 0;
            }
            .welcome-section,
            .images-section {
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;
                gap: 20px;
            }
            .image-3 {
                grid-column: 1 / -1; 
                width: 50%; 
            }
            .footer__copyright {
                padding: 20px 60px 20px 60px;
            }
        }
          @media (max-width: 576px) {
            .header {
                padding: 0 30px 0 30px;

            }
            .company-section__container,
            .welcome-section__wrapper,
            .portfolio-section,
            .footer__container,
            .images-section,
            .services-section {
                grid-template-columns: 1fr;
            }
            .welcome-section {
                padding: 0 30px 0 30px;
            }
            .welcome-section__image-title {
                padding: 60px 30px;
                margin: 0;
            }
            .welcome-section__wrapper_left {
                max-width: 100%;
            }
            .welcome-section__pagination {
                margin-top: 30px;
                margin-right: 0;
            }
            .welcome-section__pagination,
            .welcome-section__slider,
            .welcome-section__slide img {
                max-width: 400px;
                max-height: 250px;
                width: 100%;
                height: 100%;
            }
            .portfolio-section {
                gap: 20px;
            }
            .portfolio-section__button {
                margin-bottom: 0;
            }
            .images-section {
                grid-template-rows: repeat(3, 1fr);
                gap: 30px;
                max-width: 100%;
            }
            .image-1,
            .image-2,
            .image-3 {
                grid-row: 1 / 2 / 3; 
                width: 100%; 
            }
            .footer__container,
            .portfolio-section,
            .company-section,
            .images-section,
            .services-section {
                margin: 0px 30px 0px 30px;
                padding: 30px 0 30px 0;
            }
            .services-section {
                gap: 10px;
            }
            .footer__toggle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                padding: 20px 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                transition: all 0.3s ease;
            }
            .footer__toggle:hover {
                background-color: rgba(255, 255, 255, 0.05);
            }
            .footer__title {
                margin: 0;
                font-size: 20px;
                border-bottom: none;
                padding-bottom: 0;
            }
            .footer__toggle-icon {
                display: flex;
                font-size: 24px;
                font-weight: bold;
                transition: transform 0.3s ease;
            }
            .footer__toggle.active .footer__toggle-icon {
                transform: rotate(45deg);
            }
            .footer__content {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }
            .footer__content.active {
                max-height: 500px;
            }
            .footer__paragraph {
                opacity: 0;
                transform: translateY(-10px);
                transition: all 0.3s ease;
                margin-bottom: 0;
            }
            .footer__content.active .footer__paragraph {
                opacity: 1;
                transform: translateY(0);
            }  
            .footer__wrapper {
                opacity: 0;
                transform: translateY(-10px);
                transition: all 0.3s ease;
                margin-bottom: 0;
            }
            .footer__content.active .footer__wrapper {
                opacity: 1;
                transform: translateY(0);
            }
            .footer__copyright {
                padding: 30px;
            }
        }
        @media (max-width: 450px) {
            .welcome-section__pagination,
            .welcome-section__slider,
            .welcome-section__slide img {
                max-width: 300px;
                max-height: 200px;
                width: 100%;
                height: 100%;
            }
        }
