@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.home-section {
  background: linear-gradient(0deg, v.$color-home-gradient-start, v.$color-home-gradient-end);
  overflow: auto;
  padding-top: 100px;

  .home__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 67px;

    @include m.respond-to(large) {
      grid-template-columns: 1fr;
      gap: 30px;
      justify-items: center;
    }
  }

  .home__left {
      width: 372px;
      margin: 50px 0 78px 0;

      @include m.respond-to(large) { 
        width: auto; 
        margin-top: 30px;
        margin-bottom: 0;
      }
  }

  .home__title {
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.75));

    @include m.respond-to(large) { 
      font-size: 37px; 
    }

    @include m.respond-to(medium) { 
      font-size: 32px; 
    }
  }

  .home__text {
    font-size: v.$font-size-paragraph;
    color: #ffffff;
    line-height: v.$line-height-paragraph;
    font-family: v.$font-secondary;
    margin-top: 35px;
  }

  .home__pagination {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 0;
    overflow: visible;
    padding: 50px 0;

    @include m.respond-to(large) {
      padding: 30px 0;
    }
  }
}
