@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.portfolio__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid #777;
  min-height: 95px;
  align-items: center;
  justify-content: space-between;

  @include m.respond-to(large) {
    gap: 20px;
  }
  
  @include m.respond-to(medium) {
    padding-bottom: 20px;
    grid-template-columns: 1fr;
  }
}

.portfolio__title {
  font-size: 25px;
}

.portfolio__wrapper {
  display: flex;
  justify-content: end;
}

.portfolio__button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 240px;
  height: 61px;
  background-image: linear-gradient(0deg, #efefef 0%, #fcfcfc 100%);
  border: 1px solid gray;
  border-radius: 5px;
  transition: all 0.2s ease;
  box-shadow: inset 0 0 0.5px #dcdcdc;
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.3));

  &:hover { 
    background: v.$color-link-hover; 
  }

  .portfolio__text {
    font-size: v.$font-size-h3;

    &:hover {
      color: #fff;
    }
  }
}

.portfolio__arrow-right {
  padding-top: 10px;
  color: rgb(82, 80, 80);
}
