@use '../abstracts/variables' as v;

.portfolio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid gray;
  background: linear-gradient(0deg, #efefef 0%, #fcfcfc 100%);
  cursor: pointer;
  transition: all 0.2s ease;
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.3));
  box-shadow: inset 0 0 0.5px #dcdcdc;
  
  width: 240px;
  height: 61px;

  .portfolio__arrow-right {
    padding-top: 10px;
    color: rgb(82, 80, 80);
  }

  &:hover,
  &:active {
    background: v.$color-link-hover;
  }
}
