.home-arrow {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: linear-gradient(0deg, #ffffff 0%, #d1d1d1 100%);
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.5));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 50;

  svg {
    stroke: #555;
    stroke-width: 2;
    fill: none;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
  }

  &:hover,
  &:active,
  &:focus {
    background-image: linear-gradient(0deg, #ffffff 0%, #d1d1d1 100%);
    filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.5));
    outline: none;
    box-shadow: none;
  }
}
