@use '../abstracts/mixins' as m;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Century Gothic', 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.text-justify {
  text-align: justify;
}
