$color-text-dark: #333;
$color-text-medium: #808080;
$color-text-light: #e0e0e0;
$color-home-gradient-start: #0d4c6c;
$color-home-gradient-end: #25749c;
$color-link-hover: #a1e0ff;
$color-footer-bg: #0c0f12f0;
$color-footer-border: #aaa;
$color-footer-text: #989898;
$color-slider-border: #e0e0e0;
$color-slider-shadow: rgba(0,0,0,0.5);
$color-header-bg: rgba(0, 0, 0, 0.884);
$color-header-bg-clr: #000;

$font-primary: 'Century Gotic', sans-serif;
$font-secondary: 'Arial', sans-serif;

$font-size-paragraph: 12px;
$font-size-h3: 22px;
$font-size-h4: 16px;
$font-size-h5: 14px;

$line-height-paragraph: 23px;
